<nav class="navbar navbar-default navbar-fixed-top">  <!-- Bootstrap default navigation bar -->
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="index.html" routerLink="/home" routerLinkActive="active"><strong><h4>Home</h4></strong></a> <!-- Router link to home -->   
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> 
        </div>

        <div class="collapse navbar-collapse" id="navcol-1"> <!-- Navigation bar to navigate between 3 html pages through the navigation bar -->
            <ul class="nav navbar-nav navbar-right">
                <li> <h4 style="color:white;  margin-right:15px"><a class="navbar-brand navbar-link"  routerLink="/about" routerLinkActive="active"><strong>About</strong></a></h4> </li><!-- Router link to about --> 
                <li> <h4 style="color:white;  margin-right:15px"><a class="navbar-brand navbar-link" routerLink="/contact" routerLinkActive="active"><strong>Contact</strong></a></h4> </li> <!-- Router link to contact --> 
            </ul>
        </div>
    </div>
</nav>      